.sobre {
    border-top: 3px solid #2c70ff;
    border-bottom: 3px solid #2c70ff;
    max-width: 960px;
    margin: 10px auto;
    padding: 30px 0;
    display: flex;
    flex-wrap: wrap;
 }
  
 .sobre-info {
    flex: 1;
    margin: 0 10px;
 }
  
 .sobre-info h1 {
    font-size: 3em;
    margin-bottom: 10px;
 }
  
 .sobre-info p {
    font-size: 1.25;
    line-height: 1.4;
    margin-bottom: 1em;
    color: #7c7c7c;
 }
  