.Footer {
    background-color: #0b0c0f;
    margin: 0px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;

 }
 .Map {
    text-align: center;
    color: white;
    margin-bottom: 30px;
 }
 .MapNav {
    text-align: start;
    color: white;
    display: flex;
    flex-direction: column;
 }
 .MapNav a {
   color: white;
   margin: 5px;
 }

 .MapNav a:hover{
    color:brown;
 }
 
 .Nets {
    text-align: center;
    color: white;
 }


 .NetsLinks {
    color: #f3efef;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
 }
 .Place {
    
    color: white;
    text-align: center;
 }

 .Place p {
   color: #f3efef;
   text-align: center;
   margin-top: 10px;
 }