* body, ul, li, a  {
    margin: 0px;
    padding: 0px;
}
* {
    box-sizing: border-box;
 }
 
* ul {
    list-style: none;
 }
  
* a {
    text-decoration: none;
 }
.Structure {
    border-top: 3px solid brown;
    border-bottom: 3px solid brown;
    max-width: 960px;
    margin: 15px auto;;
    padding: 10px 0px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

ul {
    font-size: 1.0em;
    margin-bottom: 15px;
}

.Structure li {
    margin: 10px;
}
.Structure a {
    color: black;
}
.Structure a:hover {
    color: brown;
}